#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 100vh;            /* Ocupa todo el alto de la ventana */
  width: 100vw;             /* Ocupa todo el ancho de la ventana */
  margin: 0;                /* Elimina márgenes por defecto */
  padding: 20px;            /* Agrega algo de espacio lateral en pantallas pequeñas */
  background-color: white;  /* Fondo blanco */
}

.login-container, .formulario-container {
  width: 100%;               /* Ocupa todo el ancho disponible */
  max-width: 700px;          /* Más ancho para mejor visibilidad */
  padding: 30px;             /* Más espacio interno */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%; 
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
