#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Aseguramos que el contenedor principal ocupe todo el alto y el ancho de la ventana */
/* Aseguramos que el contenedor principal ocupe todo el alto y el ancho de la ventana */
.App {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 100vh;            /* Ocupa el 100% del alto de la ventana */
  margin: 0;                /* Elimina márgenes por defecto */
  background-color: #f7f7f7; /* Fondo suave para hacer el contenido más visible */
}

.login-container, .formulario-container {
  width: 100%;             /* Hacemos que ocupe todo el ancho disponible */
  max-width: 600px;        /* Ahora el contenedor tendrá un ancho máximo de 600px */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para destacar el formulario */
  border-radius: 8px;
  text-align: center;      /* Centra el texto en el formulario */
}

input {
  width: 100%;             /* Los inputs ocuparán el 100% de la caja */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff; /* Un azul fuerte para el botón */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3; /* Cambio de color cuando se pasa el mouse */
}
